USE [master]
GO
/****** Object:  Database [eStanar]    Script Date: 29.10.2015. 10:11:15 ******/
CREATE DATABASE [eStanar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'eStanar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\eStanar.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'eStanar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\eStanar_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eStanar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eStanar]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 29.10.2015. 10:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID_ACCOUNT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_PERSON] [numeric](18, 0) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID_ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CITY]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITY](
	[ID_CITY] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[POSTAL_CODE] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CITY] PRIMARY KEY CLUSTERED 
(
	[ID_CITY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DOCUMENT]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DOCUMENT](
	[ID_DOCUMENT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_STRUCTURE] [numeric](18, 0) NOT NULL,
	[ID_ENTRANCE] [numeric](18, 0) NULL,
	[FILE_TYPE] [nvarchar](50) NOT NULL,
	[DATA] [varbinary](max) NOT NULL,
	[TITLE] [nvarchar](250) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[ID_AUTHOR] [numeric](18, 0) NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
 CONSTRAINT [PK_DOCUMENT] PRIMARY KEY CLUSTERED 
(
	[ID_DOCUMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ENTRANCE]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRANCE](
	[ID_ENTRANCE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_ENTRANCE_TYPE] [numeric](18, 0) NOT NULL,
	[ID_STRUCTURE] [numeric](18, 0) NOT NULL,
	[ENTRANCE_NUMBER] [nvarchar](10) NULL,
 CONSTRAINT [PK_ENTRANCE] PRIMARY KEY CLUSTERED 
(
	[ID_ENTRANCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ENTRANCE_TYPE]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRANCE_TYPE](
	[ID_ENTRANCE_TYPE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ENTRANCE_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID_ENTRANCE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEETING]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEETING](
	[ID_MEETING] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_MEETING_TYPE] [numeric](18, 0) NOT NULL,
	[DATE_CREATED] [datetime] NOT NULL,
	[DATE_OF_MEETING] [datetime] NOT NULL,
	[TITLE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
	[PRIORITY] [numeric](1, 0) NOT NULL,
 CONSTRAINT [PK_MEETING] PRIMARY KEY CLUSTERED 
(
	[ID_MEETING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MEETING_TYPE]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MEETING_TYPE](
	[ID_MEETING_TYPE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MEETING_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID_MEETING_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOTICE]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTICE](
	[ID_NOTICE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_NOTICE_TYPE] [numeric](18, 0) NOT NULL,
	[ID_STRUCTURE] [numeric](18, 0) NOT NULL,
	[TEXT] [nvarchar](1000) NOT NULL,
	[ID_AUTHOR] [numeric](18, 0) NOT NULL,
	[DATE] [date] NOT NULL,
	[ID_ENTRANCE] [numeric](18, 0) NULL,
	[ID_MEETING] [numeric](18, 0) NULL,
 CONSTRAINT [PK_NOTICE] PRIMARY KEY CLUSTERED 
(
	[ID_NOTICE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOTICE_COMMENT]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTICE_COMMENT](
	[ID_NOTICE_COMMENT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_NOTICE] [numeric](18, 0) NOT NULL,
	[TEXT] [nvarchar](1000) NOT NULL,
	[ID_AUTHOR] [numeric](18, 0) NOT NULL,
	[DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_NOTICE_COMMENT] PRIMARY KEY CLUSTERED 
(
	[ID_NOTICE_COMMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NOTICE_TYPE]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTICE_TYPE](
	[ID_NOTICE_TYPE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NOTICE_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID_NOTICE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OCCUPANT]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCCUPANT](
	[ID_OCCUPANT] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_STRUCTURE_PART] [numeric](18, 0) NOT NULL,
	[ID_PERSON] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_OCCUPANT] PRIMARY KEY CLUSTERED 
(
	[ID_OCCUPANT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OWNER]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OWNER](
	[ID_OWNER] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_STRUCTURE_PART] [numeric](18, 0) NOT NULL,
	[ID_PERSON] [numeric](18, 0) NOT NULL,
 CONSTRAINT [PK_OWNER] PRIMARY KEY CLUSTERED 
(
	[ID_OWNER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PERSON]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSON](
	[ID_PERSON] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](250) NOT NULL,
	[LAST_NAME] [nvarchar](250) NOT NULL,
	[TELEPHONE] [nvarchar](50) NULL,
 CONSTRAINT [PK_PERSON] PRIMARY KEY CLUSTERED 
(
	[ID_PERSON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POLL]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLL](
	[ID_POLL] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_NOTICE] [numeric](18, 0) NOT NULL,
	[TITLE] [nvarchar](250) NOT NULL,
	[DATE_FROM] [datetime] NOT NULL,
	[DATE_TO] [datetime] NULL,
 CONSTRAINT [PK_POLL] PRIMARY KEY CLUSTERED 
(
	[ID_POLL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POLL_OPTION]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLL_OPTION](
	[ID_POLL_OPTION] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_POLL] [numeric](18, 0) NOT NULL,
	[TEXT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_POLL_OPTION] PRIMARY KEY CLUSTERED 
(
	[ID_POLL_OPTION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[POLL_VOTE]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POLL_VOTE](
	[ID_POLL_VOTE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_POLL_OPTION] [numeric](18, 0) NOT NULL,
	[ID_PERSON] [numeric](18, 0) NOT NULL,
	[DATE] [datetime] NOT NULL,
 CONSTRAINT [PK_POLL_VOTE] PRIMARY KEY CLUSTERED 
(
	[ID_POLL_VOTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[REPRESENTATIVE]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPRESENTATIVE](
	[ID_REPRESENTATIVE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_STRUCTURE] [numeric](18, 0) NOT NULL,
	[ID_PERSON] [numeric](18, 0) NOT NULL,
	[DATE_FROM] [date] NOT NULL,
	[DATE_TO] [date] NULL,
 CONSTRAINT [PK_REPRESENTATIVE] PRIMARY KEY CLUSTERED 
(
	[ID_REPRESENTATIVE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STRUCTURE]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRUCTURE](
	[ID_STRUCTURE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_STRUCTURE_TYPE] [numeric](18, 0) NOT NULL,
	[ID_CITY] [numeric](18, 0) NOT NULL,
	[NUMBER_OF_FLOORS] [numeric](3, 0) NOT NULL,
	[ADDRESS] [nvarchar](250) NOT NULL,
	[DESCRIPTION] [nvarchar](250) NULL,
 CONSTRAINT [PK_STRUCTURE] PRIMARY KEY CLUSTERED 
(
	[ID_STRUCTURE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STRUCTURE_PART]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRUCTURE_PART](
	[ID_STRUCTURE_PART] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[ID_STRUCTURE_PART_TYPE] [numeric](18, 0) NOT NULL,
	[ID_ENTRANCE] [numeric](18, 0) NOT NULL,
	[AREA_IN_SQUARE_METERS] [decimal](6, 2) NULL,
 CONSTRAINT [PK_STRUCTURE_PART] PRIMARY KEY CLUSTERED 
(
	[ID_STRUCTURE_PART] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STRUCTURE_PART_TYPE]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRUCTURE_PART_TYPE](
	[ID_STRUCTURE_PART_TYPE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_STRUCTURE_PART_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID_STRUCTURE_PART_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[STRUCTURE_TYPE]    Script Date: 29.10.2015. 10:11:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STRUCTURE_TYPE](
	[ID_STRUCTURE_TYPE] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_STRUCTURE_TYPE] PRIMARY KEY CLUSTERED 
(
	[ID_STRUCTURE_TYPE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ACCOUNT]  WITH CHECK ADD  CONSTRAINT [account_fk1] FOREIGN KEY([ID_PERSON])
REFERENCES [dbo].[PERSON] ([ID_PERSON])
GO
ALTER TABLE [dbo].[ACCOUNT] CHECK CONSTRAINT [account_fk1]
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [document_fk1] FOREIGN KEY([ID_STRUCTURE])
REFERENCES [dbo].[STRUCTURE] ([ID_STRUCTURE])
GO
ALTER TABLE [dbo].[DOCUMENT] CHECK CONSTRAINT [document_fk1]
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [document_fk2] FOREIGN KEY([ID_ENTRANCE])
REFERENCES [dbo].[ENTRANCE] ([ID_ENTRANCE])
GO
ALTER TABLE [dbo].[DOCUMENT] CHECK CONSTRAINT [document_fk2]
GO
ALTER TABLE [dbo].[DOCUMENT]  WITH CHECK ADD  CONSTRAINT [document_fk3] FOREIGN KEY([ID_AUTHOR])
REFERENCES [dbo].[PERSON] ([ID_PERSON])
GO
ALTER TABLE [dbo].[DOCUMENT] CHECK CONSTRAINT [document_fk3]
GO
ALTER TABLE [dbo].[ENTRANCE]  WITH CHECK ADD  CONSTRAINT [entrance_fk1] FOREIGN KEY([ID_ENTRANCE_TYPE])
REFERENCES [dbo].[ENTRANCE_TYPE] ([ID_ENTRANCE_TYPE])
GO
ALTER TABLE [dbo].[ENTRANCE] CHECK CONSTRAINT [entrance_fk1]
GO
ALTER TABLE [dbo].[ENTRANCE]  WITH CHECK ADD  CONSTRAINT [entrance_fk2] FOREIGN KEY([ID_STRUCTURE])
REFERENCES [dbo].[STRUCTURE] ([ID_STRUCTURE])
GO
ALTER TABLE [dbo].[ENTRANCE] CHECK CONSTRAINT [entrance_fk2]
GO
ALTER TABLE [dbo].[MEETING]  WITH CHECK ADD  CONSTRAINT [meeting_fk1] FOREIGN KEY([ID_MEETING_TYPE])
REFERENCES [dbo].[MEETING_TYPE] ([ID_MEETING_TYPE])
GO
ALTER TABLE [dbo].[MEETING] CHECK CONSTRAINT [meeting_fk1]
GO
ALTER TABLE [dbo].[NOTICE]  WITH CHECK ADD  CONSTRAINT [notice_fk1] FOREIGN KEY([ID_NOTICE_TYPE])
REFERENCES [dbo].[NOTICE_TYPE] ([ID_NOTICE_TYPE])
GO
ALTER TABLE [dbo].[NOTICE] CHECK CONSTRAINT [notice_fk1]
GO
ALTER TABLE [dbo].[NOTICE]  WITH CHECK ADD  CONSTRAINT [notice_fk2] FOREIGN KEY([ID_STRUCTURE])
REFERENCES [dbo].[STRUCTURE] ([ID_STRUCTURE])
GO
ALTER TABLE [dbo].[NOTICE] CHECK CONSTRAINT [notice_fk2]
GO
ALTER TABLE [dbo].[NOTICE]  WITH CHECK ADD  CONSTRAINT [notice_fk3] FOREIGN KEY([ID_AUTHOR])
REFERENCES [dbo].[PERSON] ([ID_PERSON])
GO
ALTER TABLE [dbo].[NOTICE] CHECK CONSTRAINT [notice_fk3]
GO
ALTER TABLE [dbo].[NOTICE]  WITH CHECK ADD  CONSTRAINT [notice_fk4] FOREIGN KEY([ID_ENTRANCE])
REFERENCES [dbo].[ENTRANCE] ([ID_ENTRANCE])
GO
ALTER TABLE [dbo].[NOTICE] CHECK CONSTRAINT [notice_fk4]
GO
ALTER TABLE [dbo].[NOTICE]  WITH CHECK ADD  CONSTRAINT [notice_fk5] FOREIGN KEY([ID_MEETING])
REFERENCES [dbo].[MEETING] ([ID_MEETING])
GO
ALTER TABLE [dbo].[NOTICE] CHECK CONSTRAINT [notice_fk5]
GO
ALTER TABLE [dbo].[NOTICE_COMMENT]  WITH CHECK ADD  CONSTRAINT [notice_comment_fk1] FOREIGN KEY([ID_NOTICE])
REFERENCES [dbo].[NOTICE] ([ID_NOTICE])
GO
ALTER TABLE [dbo].[NOTICE_COMMENT] CHECK CONSTRAINT [notice_comment_fk1]
GO
ALTER TABLE [dbo].[NOTICE_COMMENT]  WITH CHECK ADD  CONSTRAINT [notice_comment_fk2] FOREIGN KEY([ID_AUTHOR])
REFERENCES [dbo].[PERSON] ([ID_PERSON])
GO
ALTER TABLE [dbo].[NOTICE_COMMENT] CHECK CONSTRAINT [notice_comment_fk2]
GO
ALTER TABLE [dbo].[OCCUPANT]  WITH CHECK ADD  CONSTRAINT [occupant_fk1] FOREIGN KEY([ID_STRUCTURE_PART])
REFERENCES [dbo].[STRUCTURE_PART] ([ID_STRUCTURE_PART])
GO
ALTER TABLE [dbo].[OCCUPANT] CHECK CONSTRAINT [occupant_fk1]
GO
ALTER TABLE [dbo].[OCCUPANT]  WITH CHECK ADD  CONSTRAINT [occupant_fk2] FOREIGN KEY([ID_PERSON])
REFERENCES [dbo].[PERSON] ([ID_PERSON])
GO
ALTER TABLE [dbo].[OCCUPANT] CHECK CONSTRAINT [occupant_fk2]
GO
ALTER TABLE [dbo].[OWNER]  WITH CHECK ADD  CONSTRAINT [owner_fk1] FOREIGN KEY([ID_STRUCTURE_PART])
REFERENCES [dbo].[STRUCTURE_PART] ([ID_STRUCTURE_PART])
GO
ALTER TABLE [dbo].[OWNER] CHECK CONSTRAINT [owner_fk1]
GO
ALTER TABLE [dbo].[OWNER]  WITH CHECK ADD  CONSTRAINT [owner_fk2] FOREIGN KEY([ID_PERSON])
REFERENCES [dbo].[PERSON] ([ID_PERSON])
GO
ALTER TABLE [dbo].[OWNER] CHECK CONSTRAINT [owner_fk2]
GO
ALTER TABLE [dbo].[POLL]  WITH CHECK ADD  CONSTRAINT [poll_fk1] FOREIGN KEY([ID_NOTICE])
REFERENCES [dbo].[NOTICE] ([ID_NOTICE])
GO
ALTER TABLE [dbo].[POLL] CHECK CONSTRAINT [poll_fk1]
GO
ALTER TABLE [dbo].[POLL_OPTION]  WITH CHECK ADD  CONSTRAINT [poll_option_fk1] FOREIGN KEY([ID_POLL])
REFERENCES [dbo].[POLL] ([ID_POLL])
GO
ALTER TABLE [dbo].[POLL_OPTION] CHECK CONSTRAINT [poll_option_fk1]
GO
ALTER TABLE [dbo].[POLL_VOTE]  WITH CHECK ADD  CONSTRAINT [poll_vote_fk1] FOREIGN KEY([ID_POLL_OPTION])
REFERENCES [dbo].[POLL_OPTION] ([ID_POLL_OPTION])
GO
ALTER TABLE [dbo].[POLL_VOTE] CHECK CONSTRAINT [poll_vote_fk1]
GO
ALTER TABLE [dbo].[POLL_VOTE]  WITH CHECK ADD  CONSTRAINT [poll_vote_fk2] FOREIGN KEY([ID_PERSON])
REFERENCES [dbo].[PERSON] ([ID_PERSON])
GO
ALTER TABLE [dbo].[POLL_VOTE] CHECK CONSTRAINT [poll_vote_fk2]
GO
ALTER TABLE [dbo].[REPRESENTATIVE]  WITH CHECK ADD  CONSTRAINT [representative_fk1] FOREIGN KEY([ID_STRUCTURE])
REFERENCES [dbo].[STRUCTURE] ([ID_STRUCTURE])
GO
ALTER TABLE [dbo].[REPRESENTATIVE] CHECK CONSTRAINT [representative_fk1]
GO
ALTER TABLE [dbo].[REPRESENTATIVE]  WITH CHECK ADD  CONSTRAINT [representative_fk2] FOREIGN KEY([ID_PERSON])
REFERENCES [dbo].[PERSON] ([ID_PERSON])
GO
ALTER TABLE [dbo].[REPRESENTATIVE] CHECK CONSTRAINT [representative_fk2]
GO
ALTER TABLE [dbo].[STRUCTURE]  WITH CHECK ADD  CONSTRAINT [structure_fk1] FOREIGN KEY([ID_STRUCTURE_TYPE])
REFERENCES [dbo].[STRUCTURE_TYPE] ([ID_STRUCTURE_TYPE])
GO
ALTER TABLE [dbo].[STRUCTURE] CHECK CONSTRAINT [structure_fk1]
GO
ALTER TABLE [dbo].[STRUCTURE]  WITH CHECK ADD  CONSTRAINT [structure_fk2] FOREIGN KEY([ID_CITY])
REFERENCES [dbo].[CITY] ([ID_CITY])
GO
ALTER TABLE [dbo].[STRUCTURE] CHECK CONSTRAINT [structure_fk2]
GO
ALTER TABLE [dbo].[STRUCTURE_PART]  WITH CHECK ADD  CONSTRAINT [structure_part_fk1] FOREIGN KEY([ID_STRUCTURE_PART_TYPE])
REFERENCES [dbo].[STRUCTURE_PART_TYPE] ([ID_STRUCTURE_PART_TYPE])
GO
ALTER TABLE [dbo].[STRUCTURE_PART] CHECK CONSTRAINT [structure_part_fk1]
GO
ALTER TABLE [dbo].[STRUCTURE_PART]  WITH CHECK ADD  CONSTRAINT [structure_part_fk2] FOREIGN KEY([ID_ENTRANCE])
REFERENCES [dbo].[ENTRANCE] ([ID_ENTRANCE])
GO
ALTER TABLE [dbo].[STRUCTURE_PART] CHECK CONSTRAINT [structure_part_fk2]
GO
USE [master]
GO
